src/build
*.o
*~
*.pyc
*.swp
.cproject
.project
.pydevproject
.DS_Store
.coverage
local_lib
solvers/ExampleInterface/obj
solvers/ExampleInterface/python
solvers/minisat/obj
solvers/minisat/python
solvers/mip/obj
solvers/mip/python
solvers/mistral/bin
solvers/mistral/lib/obj
solvers/mistral/obj
solvers/mistral/python
solvers/osi/obj
solvers/osi/python
solvers/osicbc/obj
solvers/osicbc/python
solvers/osiclp/obj
solvers/osiclp/python
solvers/osidylp/obj
solvers/osidylp/python
solvers/osiglpk/obj
solvers/osiglpk/python
solvers/osigrb/obj
solvers/osigrb/python
solvers/osispx/obj
solvers/osispx/python
solvers/osisym/obj
solvers/osisym/python
solvers/osivol/obj
solvers/osivol/python
solvers/sat/obj
solvers/sat/python
solvers/scip/obj
solvers/scip/python
solvers/walksat/obj
solvers/walksat/python
